# Node
node_modules
npm-debug.log

# Environment
.env
.env.*
!.env.example

# Version control
.git
.gitignore
.github
.gitattributes

# Editor
.vscode
.idea
*.sublime-*
*.code-workspace

# Build files
build
dist
*.tsbuildinfo

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db


# SSL/TLS
*.pem
*.p12
*.key
*.cer
*.crt
*.pfx
*.p7b
*.p7s
*.p7c
*.csr

# Project specific
images/
!images/resetti.png  # Include only necessary images
!images/admin.png
!images/logo.png
!images/favicon.ico

# Documentation
*.md
LICENSE
CHANGELOG.md
CONTRIBUTING.md
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
