node_modules
npm-debug.log
.DS_Store
.env
.git
.gitignore
.vscode
*.md
.editorconfig
.eslintrc
.prettierrc
.prettierignore
fly.toml
fly.toml.toml
*.pem
*.p12
*.key
*.cer
*.crt
*.pfx
*.p7b
*.p7s
*.p7c
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
*.p12
*.pem
*.key
*.crt
*.csr
*.p7b
*.p7s
*.p7c
*.pfx
