extends base

block content
  h2 Reset Your Password
  p You requested a password reset. Click the button below to set a new password.
  p This link is valid for 10 minutes.
  a.btn(href=url) Reset Password
  p If you didn't request this, please ignore this email and your password will remain unchanged.
