extends base

block content
  h2 Password Successfully Changed
  p Your password has been successfully updated.
  p If you didn't make this change, please contact our support team immediately.
  a.btn(href=url) Go to Dashboard
