extends base

block content
  h2 Welcome to Animal Crossing Quiz, #{firstName}!
  p We're excited to have you on board. Get ready to test your knowledge of Animal Crossing: New Horizons!
  p Start playing now and climb the leaderboards.
  a.btn(href=url) Start Playing
  p If you have any questions, feel free to reply to this email. We're here to help!
